<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
    <link rel="stylesheet" href="/Css/Home.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
        integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" charset="utf-8"></script>
</head>

<body>

    <div class="container">
        <!-- =============== Navigation ================ -->
        <div class="navigation">
            <div class="menu-btn">
                <ion-icon name="menu-outline"></ion-icon>
            </div>

            <div class="side-bar">
                <header>
                    <div class="close-btn">
                        <ion-icon name="close-outline"></ion-icon>
                    </div>
                    <img class="logo-leftbar" src="/Image/Apple.jpg" alt="">
                    <h1>Apple Store</h1>
                </header>

                <div class="menu">

                    <div class="item">
                        <a href="/dashboard">
                            <i class="far fa-eye"></i>
                            Dashboard
                        </a>
                    </div>

                    <div class="item">
                        <a href="/">
                            <i class="fas fa-house-user"></i>
                            Home
                        </a>
                    </div>

                    <div class="item">
                        <a class="sub-btn">
                            <i class="fas fa-box-open"></i>
                            Products
                            <i class="fas fa-angle-right dropdown"></i>
                        </a>

                        <div class="sub-menu">
                            <a href="/products" class="sub-item">
                                <i class="far fa-clipboard"></i>
                                Manage Production
                            </a>
                        </div>
                    </div>

                    <div class="item">
                        <a class="sub-btn">
                            <i class="fas fa-user-lock"></i>
                            Account
                            <i class="fas fa-angle-right dropdown"></i>
                        </a>

                        <div class="sub-menu">
                            <a href="/accounts" class="sub-item">
                                <i class="far fa-plus-square"></i>
                                Manage account
                            </a>

                            <a href="/information" class="sub-item">
                                <i class="fas fa-user"></i>
                                Your information
                            </a>
                        </div>
                    </div>

                    <div class="item">
                        <a href="/check-out">
                            <i class="fab fa-apple-pay" style='font-size:20px'></i>
                            Check Out
                        </a>
                    </div>

                    <div class="item"><a href="/accounts/logout"><i class='fas fa-sign-out-alt'></i>Logout</a></div>
                </div>
            </div>

        </div>


        <!-- ========================= Main ==================== -->

        <% if(errorMessage.length> 0) { %>
            <p id="errorMessageAlert" class="alert fade show"
                style="color: red; background-color: aliceblue; font-size: x-large; text-align: center;">
                <%= errorMessage %>
            </p>
            <% } %>

                <div class="main">

                    <div class="topbar">

                        <div class="search">
                            <label>
                                <input type="text" placeholder="Search here">
                                <ion-icon name="search-outline"></ion-icon>
                            </label>
                        </div>
                        <div class="cart-topbar">
                            <a href="/cart">
                                <i class='fas fa-shopping-bag' style='font-size:70px; color:black'></i>
                            </a>
                        </div>

                    </div>

                    <div class="container-item">

                        <h3 class="title-item"> Apple Productions </h3>

                        <div class="products-container">

                            <% listItems.forEach(item=> { %>
                                <div class="product" data-name="<%= item._id %>">
                                    <div>
                                        <img class="img-item" src="/Image/products/<%= item.url_image %>" alt="">
                                    </div>
                                    <h3>
                                        <%= item.name %>
                                    </h3>
                                    <div class="price">$<%= item.retail_price %>
                                    </div>
                                </div>
                                <% }); %>
                        </div>

                    </div>

                    <div class="products-preview">

                        <% listItems.forEach(item=> { %>
                            <div class="preview" data-target="<%= item._id %>">
                                <i class="fas fa-times"></i>
                                <img class="img-item2" src="/Image/products/<%= item.url_image %>" alt="">
                                <h3>
                                    <%= item.name %>
                                </h3>
                                <p>Barcode: <%= item.barcode %>
                                </p>
                                <p>Category: <%= item.category %>
                                </p>
                                <p>Date creation: <%= item.creation_date %>
                                </p>
                                <div class="price">$<%= item.retail_price %>
                                </div>
                                <div class="buttons">
                                    <a data-id="<%= item._id %>" href="#" class="cart">add to cart</a>
                                </div>
                            </div>
                            <% }); %>
                    </div>

                </div>

    </div>




    <!--======= JavaScript =============  -->
    <script src="/Style/main.js"></script>

    <!-- ====== ionicons ======= -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

    <script>
        document.querySelector('.products-preview').addEventListener('click', function (event) {
            if (event.target.classList.contains('cart')) {
                const itemId = event.target.getAttribute('data-id');

                // add product with this id to cart in database
            }
        })

        setTimeout(function () {
            var errorMessageAlert = document.getElementById('errorMessageAlert');
            if (errorMessageAlert) {
                errorMessageAlert.style.display = 'none';
            }
        }, 2000);
    </script>
</body>

</html>